<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.jtool.jxmetrics.commands.export"
               icon="icons/properties.gif"
               label="Export metric values"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt></iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="org.jtool.jxmetrics.plugin.separator">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jtool.jxmetrics.plugin.ExportAction"
            commandId="org.jtool.jxmetrics.commands.export">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.jtool.jxmetrics.commands.category"
            name="JxMetrics Category">
      </category>
      <command
            categoryId="org.jtool.jxmetrics.commands.category"
            id="org.jtool.jxmetrics.commands.export"
            name="Export metric values">
      </command>
   </extension>

</plugin>
